/* Standardised button styling */
.btn {
    font-family: var(--font-family);
    transition: all var(--transition-speed) ease-in-out;
    border-radius: var(--border-radius);
    width: 100%; /* Full width */
    max-width: 400px; /* Limit width to 400px */
    padding: 10px 20px;
    cursor: pointer;
}

/* Primary button styles */
.btn-primary {
    background-color: var(--app-green);
    border: 3px solid var(--app-green);
    font-weight: bold;
    color: white;
    padding-top: var(--button-padding-vertical);
    padding-bottom: var(--button-padding-vertical);
    padding-left: var(--button-padding-horizontal);
    padding-right: var(--button-padding-horizontal);
    /* padding: 0.4rem 1.5rem; */
    text-align: center;
    text-decoration: none;
    display: inline;
    transition: background-color 0.2s, border-color 0.2s;
    cursor: pointer;
    border-radius: 99999px;
}

.btn-primary:hover {
    background-color: var(--app-green-hover);
    border-color: var(--app-green-hover);
}

.btn-primary:active {
    background-color: var(--app-green-pressed);
    border-color: var(--app-green-pressed);
}

/* Secondary button styles */
.btn-secondary {
    background-color: var(--l1-color);
    border-style: solid;
    border-color: var(--secondary-button-offBlack);
    border-width: 3px;
    font-weight: bold;
    color: var(--secondary-button-offBlack);
    padding-top: var(--button-padding-vertical);
    padding-bottom: var(--button-padding-vertical);
    padding-left: var(--button-padding-horizontal);
    padding-right: var(--button-padding-horizontal);
    /* padding: 0.4rem 1.5rem; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    cursor: pointer;
    border-radius: 99999px;
}

.btn-secondary:hover {
    background-color: var(--secondary-button-offBlack);
    color: white;
}

.btn-secondary:active {
    background-color: var(--secondary-button-offBlack-active);
    border-color: var(--secondary-button-offBlack-active);
}

.btn-tertiary {
    background-color: var(--tertiary-button-grey);
    border-style: solid;
    border-color: var(--tertiary-button-grey);
    border-width: 3px;
    font-weight: bold;
    color: var(--secondary-button-offBlack);
    padding-top: var(--button-padding-vertical);
    padding-bottom: var(--button-padding-vertical);
    padding-left: var(--button-padding-horizontal);
    padding-right: var(--button-padding-horizontal);
    /* padding: 0.4rem 1.5rem; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    cursor: pointer;
    border-radius: 99999px;
}

.btn-tertiary:hover {
    background-color: var(--tertiary-button-grey-hover);
    border-color: var(--tertiary-button-grey-hover);
}

.btn-tertiary:active {
    background-color: var(--tertiary-button-grey-active);
    border-color: var(--tertiary-button-grey-active);
}

.btn-danger {
    background-color: var(--danger-color);
    border-style: solid;
    border-color: var(--danger-color);
    border-width: 3px;
    font-weight: bold;
    color: var(--l1-color);
    padding-top: var(--button-padding-vertical);
    padding-bottom: var(--button-padding-vertical);
    padding-left: var(--button-padding-horizontal);
    padding-right: var(--button-padding-horizontal);
    /* padding: 0.4rem 1.5rem; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    cursor: pointer;
    border-radius: 99999px;
}

.btn-danger:hover {
    background-color: var(--danger-color-hover);
    border-color: var(--danger-color-hover);
}

.btn-danger:active {
    background-color: var(--danger-color-active);
    border-color: var(--danger-color-active);
}

.btn-danger-outline {
    background-color: var(--l1-color);
    border-style: solid;
    border-color: var(--danger-color);
    border-width: 3px;
    font-weight: bold;
    color: var(--danger-color);
    padding-top: var(--button-padding-vertical);
    padding-bottom: var(--button-padding-vertical);
    padding-left: var(--button-padding-horizontal);
    padding-right: var(--button-padding-horizontal);
    /* padding: 0.4rem 1.5rem; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    cursor: pointer;
    border-radius: 99999px;
}

.btn-danger-outline:hover {
    background-color: var(--danger-color-hover);
    border-color: var(--danger-color-hover);
    color: white;
}

.btn-danger-outline:active {
    background-color: var(--danger-color-active);
    border-color: var(--danger-color-active);
}

.btn-quiet {
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 3px;
    font-weight: bold;
    color: var(--secondary-button-offBlack);
    padding-top: var(--button-padding-vertical);
    padding-bottom: var(--button-padding-vertical);
    padding-left: var(--button-padding-horizontal);
    padding-right: var(--button-padding-horizontal);
    /* padding: 0.4rem 1.5rem; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    cursor: pointer;
    border-radius: 99999px;
}

.btn-quiet:hover {
    background-color: var(--tertiary-button-grey);
    border-color: var(--tertiary-button-grey);
}

.btn-quiet:active {
    background-color: var(--tertiary-button-grey-hover);
    border-color: var(--tertiary-button-grey-hover);
}

.btn-quiet-danger {
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 3px;
    font-weight: bold;
    color: var(--danger-color);
    padding-top: var(--button-padding-vertical);
    padding-bottom: var(--button-padding-vertical);
    padding-left: var(--button-padding-horizontal);
    padding-right: var(--button-padding-horizontal);
    /* padding: 0.4rem 1.5rem; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    cursor: pointer;
    border-radius: 99999px;
}

.btn-quiet-danger:hover {
    background-color: var(--tertiary-button-grey);
    border-color: var(--tertiary-button-grey);
}

.btn-quiet-danger:active {
    background-color: var(--tertiary-button-grey-hover);
    border-color: var(--tertiary-button-grey-hover);
}

.btn-quiet-action-blue {
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 3px;
    font-weight: bold;
    color: var(--action-blue);
    padding-top: var(--button-padding-vertical);
    padding-bottom: var(--button-padding-vertical);
    padding-left: var(--button-padding-horizontal);
    padding-right: var(--button-padding-horizontal);
    /* padding: 0.4rem 1.5rem; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    cursor: pointer;
    border-radius: 99999px;
}

.btn-quiet-action-blue:hover {
    background-color: var(--tertiary-button-grey);
    border-color: var(--tertiary-button-grey);
}

.btn-quiet-action-blue:active {
    background-color: var(--tertiary-button-grey-hover);
    border-color: var(--tertiary-button-grey-hover);
}

.btn-text {
    background: none;
    border-style: none;
    font-weight: bold;
    color: var(--action-blue);
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-text:hover {
    text-decoration: underline;
}