.inner-container {
    height: 250px;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.form-field {
    margin-bottom: 15px;
}

.text-input {
    width: 100%;
    max-width: 400px; /* Limit width to 400px */
    padding: 10px;
    border: 1px solid var(--border-color); /* Use variable for border color */
    border-radius: var(--border-radius); /* Use variable for border radius */
    margin-bottom: 15px;
}

.submit-button {
    width: 100%; /* Full width */
    max-width: 400px; /* Limit width to 400px */
    padding: 10px 20px;
    border: none;
    background-color: var(--app-green); /* Use variable for background color */
    color: var(--l1-color); /* Use variable for text color */
    border-radius: var(--border-radius); /* Use variable for border radius */
    cursor: pointer;
    transition: background-color var(--transition-speed) ease-in-out; /* Include transition */
}

.submit-button:hover {
    background-color: #18b44b; /* Change background color on hover */
}