.inner-container {
    height: 250px;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.form-field {
    margin-bottom: 15px;
}

.text-input-old {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin-bottom: 15px;
}

.input-label {
    margin: 0;
    font-size: 13px;
    color: #666666;
}

.text-input {
    margin: 0;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #c0c0c0;
}

.text-input:hover {
    border-color: #a2a2a2;
}

.text-input:focus {
    outline: none;
    border-color: #0e7eff;
    border-width: 0 0 3px 0;
}

.form-error-text {
    color: red;
}

.text-input-loud {
    width: 100%;
    padding: 5px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: var(--loud-text-input-border-color);
    border-radius: 5px;
}

.text-input-loud:hover {
    border-color: var(--loud-text-input-border-color-hover);
}

.text-input-loud:focus {
    border-color: var(--loud-text-input-border-color-focused);
    border-width: 1 1 1 1;
}

.input-label-loud {
    margin: 0;
    color: #666666;
}
