:root{
    --l0-color: #F2F2F7;
    --l1-color: #FFFFFF;
    --text-color: #000000;
    --app-green: #00852E;
    --app-green-hover: #1e8f44;
    --app-green-pressed: #1b7f3e;
    --action-blue: #0067d5;
    --action-blue-hover: #0056b3;
    --action-blue-pressed: #004b9a;
    --action-blue-lighter: #0095ec;
    --action-blue-lighter-hover: #007ab8;
    --action-blue-ligther-pressed: #005f9e;
    --tertiary-green: #00B03F;
    --unselected-color: #757575;
    --selected-color: #000000;
    --border-color: #000000;
    --danger-color: #da2626;
    --danger-color-hover: #b82929;
    --danger-color-active: #a31f1f;
    --border-radius: 0.8rem;
    --font-size: 16px;
    --font-family: 'Roboto', sans-serif;
    --scrollbar-background: #e6e6e6;
    --scrollbar-thumb: #303030;
    --transition-speed: 100ms;
    --secondary-button-offBlack: #383838;
    --secondary-button-offBlack-disabled: #616161;
    --secondary-button-offBlack-active: #1b1b1b;
    --tertiary-button-grey: #ebebeb;
    --tertiary-button-grey-hover: #dcdcdc;
    --tertiary-button-grey-active: #c4c4c4;
    --button-padding-vertical: 0.25rem;
    --button-padding-horizontal: 1rem;
    --grey-font-color: #646464;

    /* Used in My Accounts Table*/
    --table-border-width: 1px;
    --table-border-color: #cacaca;

    --selectionRailColor: #dfdfdf;
    --selectionTrainColor: #000000;
    --topNavElementUnselectedTextColor: #797979; 

    --loud-text-input-border-color: #767676;
    --loud-text-input-border-color-hover: #3d3d3d;
    --loud-text-input-border-color-focused: #181818;

    /* Used in modal component*/
    --backdrop-filter-blur: 3px;
}


.main{
    display: flex;
}

/* Mobile screens */
@media only screen and (max-width: 600px){
    .main{
        flex-direction: column;
        height: 100%;
    }

    .content{
        height: 100vh;
        width: 100vw;
        overflow-y: scroll;
    }
}

/* Large screens */
@media only screen and (min-width: 600px){
    .main{
        flex-direction: row;
    }
    
    .content{
        height: 100vh;
        width: 100%;
        overflow-y: scroll;
    }
}

body{
    font-family: var(--font-family) !important;
    background-color: var(--l0-color) !important;
    color: var(--text-color) !important;
}

.overflowScroll{
    overflow-y: scroll !important;
}

.horizontalLine {
    width: 100%;
    height: 1px;
    background-color: var(--selectionRailColor);
    transition: background-color 0.2s;
}

.greyText{
    color: var(--grey-font-color);
}

.monoText {
    font-family: 'Roboto Mono', monospace;
}

.smallerText {
    font-size: 0.8rem;
}