:root{
    --l0-color: #F2F2F7;
    --l1-color: #FFFFFF;
    --text-color: #000000;
    --app-green: #1ED760;
    --app-green-hover: #1DB954;
    --app-green-pressed: #1AA34A;
    --action-blue: #0067d5;
    --tertiary-green: #00B03F;
    --unselected-color: #646464;
    --selected-color: #000000;
    --border-color: #000000;
    --danger-color: #da2626;
    --danger-color-hover: #b82929;
    --danger-color-active: #a31f1f;
    --border-radius: 0.8rem;
    --font-size: 16px;
    --font-family: 'Roboto', sans-serif;
    --scrollbar-background: #e6e6e6;
    --scrollbar-thumb: #b9ffa8;
    --transition-speed: 100ms;
    --secondary-button-offBlack: #383838;
    --secondary-button-offBlack-active: #1b1b1b;
    --tertiary-button-grey: #ebebeb;
    --tertiary-button-grey-hover: #dcdcdc;
    --tertiary-button-grey-active: #c4c4c4;
    --button-padding-vertical: 0.25rem;
    --button-padding-horizontal: 1rem;

    /* Used in My Accounts Table*/
    --table-border-width: 1px;
    --table-border-color: #cacaca;
}

@media screen and (max-width: 600px){
    /* Mobile */
}

body{
    font-family: var(--font-family) !important;
    background-color: var(--l0-color) !important;
    color: var(--text-color) !important;
}

.main{
    display: flex;
    flex-direction: row;
}

.content{
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.overflowScroll{
    overflow-y: scroll !important;
}